{% extends "base.html.twig" %}

{% trans_default_domain 'expense' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/expenseForm.css">
{% endblock %}

{% block body %}
  <h2 class="expense_form_title">{{'createExpenseTitle'|trans}}</h2>

    <div class="expense_form"> 
    
      {{ form_start(form) }}

        <span class="expense_form_field">

          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}

          <div class="expense_form_error">
          {{ form_errors(form.description) }}
          </div>

        </span>

        <span class="expense_form_field">

          {{ form_label(form.amount) }}
          {{ form_widget(form.amount) }}

          <div class="expense_form_error">
          {{ form_errors(form.amount) }}
          </div>

        </span>

        <span class="expense_form_field">

          {{ form_label(form.payer) }}
          {{ form_widget(form.payer) }}

          <div class="expense_form_error">
          {{ form_errors(form.payer) }}
          </div>

        </span>

        <span class="expense_form_field">

          {{ form_label(form.participants) }}
          {{ form_widget(form.participants) }}

          <div class="expense_form_error">
          {{ form_errors(form.participants) }}
          </div>

        </span>

        <footer class="expense_form_footer">
          {{ form_row(form.submit) }}
        </footer>

      {{ form_end(form) }}

    </div>


{% endblock %}