{% extends "base.html.twig" %}

{% trans_default_domain 'addExpense' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/addForm.css">
{% endblock %}

{% block body %}

 <div class="group_container">

    <div class="add_form"> 
    
      {{ form_start(form) }}

        <span class="add_form_field">

          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}

        </span>

        <span class="add_form_field">

          {{ form_label(form.amount) }}
          {{ form_widget(form.amount) }}

        </span>

        <span class="add_form_field">
          {{ form_label(form.payer) }}
          {{ form_widget(form.payer) }}

        </span>

        <span class="add_form_field">

          {{ form_label(form.participants) }}
          {{ form_widget(form.participants) }}

        </span>

        <footer class="add_form_footer">
          {{ form_row(form.submit) }}
        </footer>

      {{ form_end(form) }}
      
  </div> 

{% endblock %}