{% extends "base.html.twig" %}

{% trans_default_domain 'groups' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/form.css">
{% endblock %}

{% block body %}
  <h2 class="form_title">{{'createGroupTitle'|trans}}</h2>

    <div class="form"> 
    
      {{ form_start(form) }}

        <span class="form_field">

          {{ form_label(form.name) }}
          {{ form_widget(form.name) }}

          <div class="form_error">
          {{ form_errors(form.name) }}
          </div>

        </span>

        <span class="form_field">

          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}

          <div class="form_error">
          {{ form_errors(form.description) }}
          </div>

        </span>

        <span class="form_field">

          {{ form_label(form.users) }}
          {{ form_widget(form.users) }}

          <div class="form_error">
          {{ form_errors(form.users) }}
          </div>

        </span>

        <footer class="add_form_footer">
          {{ form_row(form.submit) }}
        </footer>

      {{ form_end(form) }}

    </div>


{% endblock %}