{% extends "base.html.twig" %}

{% trans_default_domain 'groups' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/groupPage.css') }}">
{% endblock %}

{% block body %}

  <div class="group_container">

    <header class="group_container_header">
     
      <h2 class="group_title">{{ groupName }}</h2>
      
    </header>

    <nav class="group_parameter">
      <a class="group_parameter_expense" href="{{ path ('group_expenses', {id:groupId}) }}">{{'expenses'|trans }}</a>
      <a class="group_parameter_balance group_parameter_active" href="{{ path ('group_balance', {id:groupId}) }}">{{'balance'|trans }}</a>
    </nav>

    <section class="group_balance_container">

      {% for balance in balances %}
        <div class="group_info_balance">
          <p class="group_info_text">{{ balance.user.username }}</p>
          <p class="group_info_amount">{{ formatNumber(balance.amount) }} €</p>
        </div>
      {% endfor %}
      
    </section>
    
  </div>

  <footer class="add_group_footer">
    <a class="add_group_button" href="{{ path ('add_expense', {id:groupId})}}">Ajouter une dépense</a>
  </footer>

{% endblock %}
