{% extends "base.html.twig" %}

{% trans_default_domain 'groups' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/groupPage.css">
{% endblock %}

{% block body %}

  <div class="group_container">

    <header class="group_container_header">
     
      <h2 class="group_title">{{ groupName }}</h2>
      
    </header>

    <nav class="group_parameter">
        <a class="group_parameter_expense group_parameter_active" href="{{ path ('group_expenses', {id:groupId}) }}">{{'expenses'|trans }}</a>
        <a class="group_parameter_balance" href="{{ path ('group_balance', {id:groupId}) }}">{{'balance'|trans }}</a>
    </nav>

    <section class="group_expense_container">

      {% for expense in expenses %}
        <div class="group_info_expense">

          <div class="group_info_container">
            <p class="group_info_text">{{ expense.description }}</p>
            <p class="group_info_payer">{{'boughtBy'|trans }} {{ expense.payer.username }} </p>
          </div>

          <p class="group_info_amount">{{ formatNumber(expense.amount) }} €</p>

          <div class="expense_handlers">
            <a class="update_expense_button" href="{{ path ('update_expense', { expenseId:expense.id , groupId:groupId }) }}">
              {{ ux_icon('uil:pen') }}
            </a>
            <a class="delete_expense_button" href="{{ path ('delete_expense', { expenseId:expense.id , groupId:groupId }) }}">
              {{ ux_icon('mdi:delete') }}
            </a>
          </div>

        </div>

      {% endfor %}
      
    </section>

  </div> 

  <footer class="add_group_footer">
    <a class="add_group_button" href="{{ path ('add_expense', {id:groupId})}}">{{'addExpenseSubmitButton'|trans}}</a>
  </footer>

{% endblock %}
