{% extends "base.html.twig" %}

{% trans_default_domain 'authentication' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
    <h2 class="authentication_form_title">{{'signIn'|trans}}</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <form class="authentication_form" action="{{ path('signin') }}" method="post">
                      
            <span class="authentication_form_field">
                <label for="username">{{'email'|trans}}</label>
                <input type="text" id="username" name="_username" placeholder = "{{'email'|trans}}" required>
            </span>
            <span class="authentication_form_field">
                <label for="password">{{'password'|trans}}</label>
                <input type="password" id="password" name="_password" placeholder = "{{'password'|trans}}" required>
            </span>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <footer class="authentication_form_field">
                <button type="submit">{{'signInFormButton'|trans}}</button>
                <span class="authentication_form_redirect">{{'dontHaveAnAccount'|trans}} <a href="{{ path ('signup') }}">{{'here'|trans}}</a> </span>
            </footer>
            
        </form>
    
{% endblock %}