{% extends "base.html.twig" %}

{% trans_default_domain 'authentication' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
    <h2 class="signup_form_title">{{'signUp'|trans}}</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('signin') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>
    
{% endblock %}

