{% extends "base.html.twig" %}

{% trans_default_domain 'authentication' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
    <h2 class="signup_form_title">{{'signUp'|trans}}</h2>

    <div id="signup_form">
      {{ form_start(form) }}
        <ul>

          <li class="signup_form_li">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            <div class="signin_form_error">
            {{ form_errors(form.username) }}
            </div>
          </li>

          <li class="signup_form_li">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="signin_form_error">
            {{ form_errors(form.email) }}
            </div>
          </li>

          <li class="signup_form_li">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
            <div class="signin_form_error">
            {{ form_errors(form.password.first) }}
            </div>
          </li>

          <li class="signup_form_li">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
            <div class="signin_form_error">
            {{ form_errors(form.password.second) }}
            </div>
          </li>

          <li class="signup_form_li">
            {{ form_row(form.save) }}
            <span class="signup_form_redirect">{{'alreadyAnAccount'|trans}} <a href="{{ path ('signin') }}">{{'here'|trans}}</a> </span>
          </li>

        </ul>

      {{ form_end(form) }}
    </div>

{% endblock %}
