{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="/css/groupPage.css">
{% endblock %}
{% block body %}
<div class="group_container">
    <div class="group_container_title">
        <a class="back_arrow" href="/groups"><img src="/image/back_arrow.svg" alt="home page"></a>
        <h2 class="group_title">{{groupName}}</h2>
      </div>
      <div class="group_parameter">
          <div class="group_parameter_expense group_parameter_active">Dépenses</div>
          <div class="group_parameter_balance"><a href="/groups/{{groupId}}">Equilibre</a></div>
      </div>
        <div class="group_info_container">
          {% for expense in expenses %}
            <div class="group_info">
            <p class="group_info_text">{{expense.description}} </p> <p class="group_info_amount">{{expense.amount / 100}} €</p>
            <p class="group_info_payer">Payé par {{expense.payer.name}} </p>
            </div>
          {% endfor %}
        </div>
</div> 
{% endblock %}
